@model TUSSAN_TUNQUI.Models.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmpresa)
        </dd>

        <dt>
            Dueño
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dueñoEmpresa)
        </dd>

        <dt>
            RUC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUC)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Datos", "Edit", new { id = Model.idCliente }, new { @class = "btn btn-outline-primary my-4" }) |
    @Html.ActionLink("Regresar a la lista de Clientes", "Index",null, new { @class = "btn btn-outline-primary my-4" })
</p>
