@model IEnumerable<TUSSAN_TUNQUI.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dueñoEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueñoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idCliente }) |
                @Html.ActionLink("Details", "Details", new { id = item.idCliente }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idCliente })
            </td>
        </tr>
    }

</table>
