@model IEnumerable<TUSSAN_TUNQUI.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Registrar nuevo Cliente", "Create",null, new { @class = "btn btn-outline-primary mx-1" })
</p>
<table class="table">
    <tr>
        <th>
            <!--@Html.DisplayNameFor(model => model.nombreEmpresa)-->
            Empresa
        </th>
        <th>
            Dueño
        </th>
        <th>
            RUC
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueñoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idCliente }, new { @class = "btn btn-outline-primary mx-1" }) |
                @Html.ActionLink("Ver Detalles", "Details", new { id = item.idCliente }, new { @class = "btn btn-outline-primary mx-1" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idCliente }, new { @class = "btn btn-danger mx-1" })
            </td>
        </tr>
    }

</table>
