@model IEnumerable<TUSSAN_TUNQUI.Models.Mercaderia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mercaderias</h2>

<p>
    @Html.ActionLink("Registrar nueva Mercaderia", "Create",null, new { @class = "btn btn-outline-primary mx-1" })
</p>
<table class="table">
    <tr>
        <th>
            Descripcion
        </th>
        <th>
            Area Cubica
        </th>
        <th>
            Categoria
        </th>
        <th>
            Unidad
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Empresa
        </th>
        <th>
            Tipo de Mercaderia
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionMercaderia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.areaCubica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.nombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMercaderia.descripcionTipoMerca)
            </td>
            <td>
                @Html.ActionLink("Editar Datos", "Edit", new { id = item.idMercaderia }, new { @class = "btn btn-outline-primary mx-1" }) |
                @Html.ActionLink("Ver Detalles", "Details", new { id = item.idMercaderia }, new { @class = "btn btn-outline-primary mx-1" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idMercaderia }, new { @class = "btn btn-danger mx-1" })
            </td>
        </tr>
    }

</table>
