@model IEnumerable<TUSSAN_TUNQUI.Models.Mercaderia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descripcion
        </th>
        <th>
            Area Cubica
        </th>
        <th>
            Categoria
        </th>
        <th>
            Unidad
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Empresa
        </th>
        <th>
            Tipo de Mercaderia
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descripcionMercaderia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.areaCubica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.nombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMercaderia.descripcionTipoMerca)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idMercaderia }) |
                @Html.ActionLink("Details", "Details", new { id = item.idMercaderia }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idMercaderia })
            </td>
        </tr>
    }

</table>
