@model TUSSAN_TUNQUI.Models.Registro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar este Registro?</h3>
<div>
    <h4>Registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.areaCubica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaCubica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.nombreEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombreEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mercaderia.descripcionMercaderia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mercaderia.descripcionMercaderia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoRegistro.descripcionTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRegistro.descripcionTipo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a la lista de registros", "Index",null, new { @class = "btn btn-outline-primary my-4" })
        </div>
    }
</div>
