@model TUSSAN_TUNQUI.Models.Registro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--@Html.DisplayNameFor(model => model.fecha)-->
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            Area Cúbica
        </dt>

        <dd>
            @Html.DisplayFor(model => model.areaCubica)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.nombreEmpresa)
        </dd>

        <dt>
            DNI Empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.DNI)
        </dd>

        <dt>
            Descripcion de la Mercaderia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mercaderia.descripcionMercaderia)
        </dd>

        <dt>
            Tipo de Registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRegistro.descripcionTipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idRegistro }, new { @class = "btn btn-outline-danger my-4" }) |
    @Html.ActionLink("Regresar a la lista de Registros", "Index",null, new { @class = "btn btn-outline-primary mx-1" })
</p>
